.fontimator-buttons {
	font-size: 0.8em;
	margin: 1.8em 0;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address:not(.is-active) {
	display: none;
}

.woocommerce-MyAccount-content .woocommerce-form-row label[for="account_display_name"],
.woocommerce-MyAccount-content .woocommerce-form-row #account_display_name,
.woocommerce-MyAccount-content .woocommerce-form-row #account_display_name + span
{
	display: none;
}

.fontimator-table .font-family-header {
	font-size: 1.3em;
	cursor: pointer;
}


.birthday-song-box {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fff+0,000000+35,000000+65,fff+100 */
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(left,  #fff 0%, #bbb 40%, #bbb 60%, #fff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #fff 0%,#bbb 40%,#bbb 60%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #fff 0%,#bbb 40%,#bbb 60%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
	margin: 2.7em 0 1.8em;
	background: black;
}
.birthday-song-box iframe {
	margin: 0 auto;
	display: block;
	width: 100%;
}

.shop_table.reseller_domains {
	width: auto;
	max-width: 50em;
	table-layout: fixed;
}

.shop_table.reseller_domains .reseller-domains-list .domain-name {
	text-align: left;
}

.shop_table.reseller_domains .domain-actions {
	max-width: 20%;
}

.shop_table.reseller_domains tfoot th {
	padding-right: 0;
	padding-left: 0;
}

.shop_table.reseller_domains form {
	display: flex;
	align-items: center;
	position: relative;
}

.shop_table.reseller_domains form input {
	margin-left: 8px;
	display: inline-block;
	flex: 1;
	padding: 5px;
	font-size: 1em;
	text-align: right;
}

.shop_table.reseller_domains form input:not(:placeholder-shown) {
	text-align: left;
	direction: ltr;
}


.shop_table.reseller_domains form input:not(:valid) ~ button[type="submit"] {
	pointer-events: none;
	opacity: .41;
	cursor: default;
}