.fontimator-free-download {
	position: relative;
}
.fontimator-free-download .success-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	background-color: rgba(0,0,0,.8);
	text-align: center;
	color: white;
	display: none;
	z-index: 100;
}
.font-family-header .font_title{
	letter-spacing: 0.2em;
}
.font-family-header .font_title i, .font-family-header .font_title .font-name-with-preview{
	letter-spacing: 0;
}
.shop_table.fontimator-table tbody>tr>td:nth-child(2){
	white-space: nowrap;
}