.fontimator-free-download {
	position: relative;
}
.fontimator-free-download .success-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	background-color: rgba(0,0,0,.8);
	text-align: center;
	color: white;
	display: none;
	z-index: 100;
}
.font-family-header .font_title{
	letter-spacing: 0.2em;
}
.font-family-header .font_title i, .font-family-header .font_title .font-name-with-preview{
	letter-spacing: 0;
}
.shop_table.fontimator-table tbody>tr>td:nth-child(2){
	white-space: nowrap;
}

/* Email Preferences */

/*
 * iOS Checkboxes
 */
.ios-ui-select {
	background: #f5f5f3;
	border: none;
	height: 36px;
	background: #dddddd;
	border-radius: 18px;
	width: 60px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.ios-ui-select.checked {
	box-shadow: inset 0 0 0 36px #6ddc5f;
}
.ios-ui-select.checked .inner {
	left: 27px; 
}
.ios-ui-select .inner {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 100%;
	background: white;
	-webkit-transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
	transition: all 350ms cubic-bezier(0, 0.89, 0.44, 1);
}

.woocommerce-EmailPreferencesForm .interest-groups {
	margin: 1.5em 0 2em;
	border-top: 1px solid;
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox {
	position: relative;
	border-bottom: 1px solid;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox .ios-ui-select {
	margin-right: auto;
	order: 4;
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox i.icon {
	float: right;
	text-align: center;
	min-width: 1em;
	display: block;
	margin: 0 -0.1em 0 0.05em;
	font-size: 3.6em;
	height: 1.1em;
	line-height: 1.1em;
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox .texts{
	flex: 7;
	margin: 0.5em 0 0.45em 0.8em;
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox .texts span {
	display: block;
	font-weight: 400;
	line-height: 1em;
	margin-bottom: 0.1em;
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox .texts span.title {
	font-weight: 700;
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox .texts span.description {
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox .texts span.frequency {
	font-size: 0.8em;
	opacity: 0.7;
	font-weight: 500;
}
.woocommerce-EmailPreferencesForm .interest-groups label.form-full-checkbox .texts span.frequency:before {
	padding-left: 0.2em;
}
.woocommerce-EmailPreferencesForm .newsletter-text {
	max-width: 38em;
}